{% extends "layout/base.html" %}
{% block content %}


<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet "> 
<section name="Profile" style="float: middle">
	<h3 class= 'container' style="font-size: 40;font-family:OCR A Std;color: 	#d9ffcc; margin-top: 1%">
	<b>Profile</b>
	</h3>
</section>
<section name="bio" id="bio">
	<img src="https://files.tofugu.com/articles/japanese/2016-04-25-chibi/chibihowto-03.jpg" style="float:middle;width: 30%;height: 30%; border-radius: 50%; align-items: center; margin-left: 35%">
	<div class="profil_profil" id="profil_profil" style="font-family: 'Roboto'">
		<h4 id="user" style="">
			<b>{{ name }}</b>
		</h4>
		<table id="table">
			<tr>
				<th style="width: 35%;color: #d9ffcc">Birth Year</th>
				<td style="color: #f2f2f2">{{ birthyear }}</td>
			</tr>
			<tr>
				<th style="width: 35%;color: #d9ffcc">Gender</th>
				<td style="color: #f2f2f2">{{ gender }}</td>
			</tr>
			<tr>
				<th style="width: 35%;color: #d9ffcc">Expertise</th>
				<td style="color: #f2f2f2">{{ expertise }}</td>
			</tr>
			<tr>
				<th style="width: 35%;color: #d9ffcc">Description</th>
				<td style="color: #f2f2f2">{{ description }}</td>
			</tr>
			<tr>
				<th style="width: 35%;color: #d9ffcc">Email</th>
				<td style="color: #f2f2f2">{{ email }}</td>
			</tr>
		</table>

	
	</div>
</section>	
<style>
	body {
	  min-height: 600px;
	}

	.navbar-static-top {
	  margin-bottom: 19px;
	}

	.nav navbar-nav {
		text-align: center; font: bold 30px/30px Arial
	}

	#bio{
		width: 600px;
		height: 600px;
		margin-left: 30%;
	}
	#table{
		align-items: center;
		height: 40px;
		font-size: 20px;
		width: 600px;
		margin-top: 5%;
	}
	#user{
		text-align: center;
		margin-top: 5%;
		color: #ccff99;
		font-size: 40px;
	}
	@media only screen and (max-width: 767px) {
	  #bio{
	  	width: 250px;
	  	height: 250px;
	  	margin-left: 5%;
	  }
	  #table{
	  	width: 250px;
	  	font-size: 15px;
	  	margin-left: 10%;
	  }
	  #user{
	  	font-size: 20px;
	  }
	  body{
	  	min-height: 400px;
	  }
	}
</style>
<br><br>
{% endblock %}