<h1 style="font-size: 30px;font-family:OCR A Std;color: #8b2252;text-shadow: 2px 2px #ee82ee;background-color: #bbffff">Statistik</h1>
<hr/>
<body style="background-color: #ffffe6">
    <h1 style="font-size: 30px;font-family:OCR A Std;color: #1a1aff;text-shadow: 2px 2px #ff0000 "><img src='https://image.ibb.co/nCzedw/yuzu.png' width="150" height="150" >{{msg.name}}</h1>
</body>
<nav>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <a style="text-align: left ; font: bold 20px/30px Arial;font-size: 30px;font-family:OCR A Std;color: #8b2252;text-shadow: 2px 2px #ee82ee">Friends : </a>
      </ul>
      <ul class="nav navbar-nav">
        <a style="text-align: left ; font: bold 20px/30px Arial;font-size: 30px;font-family:OCR A Std;color: #8b2252;text-shadow: 2px 2px #ee82ee"> Feed : </a>
        <a style="text-align: right ; font: bold 20px/30px Arial;font-size: 30px;font-family:OCR A Std;text-shadow: 2px 2px #ee82ee"> {{status_count}} post</a>
      </ul>
      <ul class="nav navbar-nav">
        <a style="text-align: right ; font: bold 20px/30px Arial;font-size: 30px;font-family:OCR A Std;color: #8b2252;text-shadow: 2px 2px #ee82ee">Latest Post</a> 
      </ul>
    </div><!--/.nav-collapse -->
  </div>
  
</html>

