{% extends "layout/base.html" %}
{% block content %}
<div class="container">
	<h1 class="container" style="font-family:OCR A Std;font-size: 30px;color: 	#d9ffcc">Update Status</h1>
    <form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="btn btn-info">Post</button>
	</form>
	<br>
</div>
<br>
<ul class="nav navbar-nav" style="background-color: #b3ffe6">
<div class="container">
<hr>
<p style="font-family:OCR A Std;font-size: 20px; text-decoration: underline; text-align: center; color: 	#339966; font-weight: bold; font-size: 35px">News Feed</p>
	{% if history %}
	{% for msg in history %}
		<h2 style="font-family:OCR A Std;font-size: 30px; color: #00b300"><img src='https://files.tofugu.com/articles/japanese/2016-04-25-chibi/chibihowto-03.jpg' style="float:left;width: 10%;height: 10%; border-radius: 50%; align-items: left" width="50" height="50">{{name}}</h2>
		<p style="font-size: 20px; color: #0099ff">{{msg.status}}</p>
		<p style="font-size: 20px; color: #0099ff">{{msg.date}}</p>
		<br>
		<hr>
		{% endfor %}
	{% endif %}
</div>
</ul>
{% endblock %}