{% extends "layout/base.html" %}

{% block content %}
 <title>Status</title>
<h1 class="container" style="font-family:OCR A Std;font-size: 30px;color: 	#d9ffcc">Add Friends</h1>
<br>
<section name="form" class="container">
	
	<form id="form" class="form-horizontal" method="POST" action="{% url 'friends:add_friend' %}">
		{% csrf_token %}
		{% for input in add_forms %}
			<div class="form-group">
				<label class="control-label col-sm-2" for="{{input.name}}"> {{input.label}} </label>
				<div class="col-sm-12">{{input}}</div>
			</div>
		{% endfor %}
		<br>
		<div align="right">
			<button type="submit" class="btn btn-default">Add Friend</button>
		</div>
	</form>
</section>
<br>
<ul class="nav navbar-nav">
<section name="table" class="container">
	<table class="table" border="0">
		<thead>
			<th>List Friend</th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			<!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
			{% for i in friends %}
				<td style="font-size: 20px"> {{i.name}} </td>
				<td style="font-size: 20px"><a href="{{i.url}}"> {{i.url}} </a></td>
				<td style="font-size: 20px"><i><small> Added on {{i.created_date.date}} {{i.created_date.time}} </small></i></td>
			</tr>             
			{% endfor %}
		</tbody>
	</table>
</section>
</ul>
{% endblock %}
