{% extends "layout/base.html" %}
{% load staticfiles %}
{% block content %}
<!--<h1 style="font-size: 30px;font-family:OCR A Std;color: #8b2252;text-shadow: 2px 2px #ee82ee;background-color: #bbffff">Statistik</h1>
<hr/>-->

<body>
    <h2 class='container' style="font-size: 30px;font-family:OCR A Std;color: 	#d9ffcc"><b>Statistic</b>
    </h2>
    <h1 style="font-size: 40px;color: #ccff99"><img src='https://files.tofugu.com/articles/japanese/2016-04-25-chibi/chibihowto-03.jpg' style="float:middle;width: 10%;height: 10%; border-radius: 50%; align-items: left; margin-left: 35%">{{name}}</h1>
<div>
    <p style="text-align: center ; font: bold 30px/30px Arial; color: #f2f2f2">Friends : {{friends_count}} people</p>
    <p style="text-align: center; font: bold 30px/30px Arial;color: #f2f2f2"> Feed : {{status_count}} post</p>
</div>   
  <ul class="nav navbar-nav" style="background-color: #b3ffe6">
  <div class='container'>
    <p style="text-align: center ; font: bold 30px/30px Arial;center; color: 	#339966; text-decoration: underline; text-decoration-color: #003300">Latest Post</p>
    <p style="font-family:OCR A Std;font-size: 30px; color: #00b300"><img src='https://files.tofugu.com/articles/japanese/2016-04-25-chibi/chibihowto-03.jpg' style="float:left;width: 10%;height: 10%; border-radius: 50%; align-items: left" width="20" height="20">{{status_model.name}}</p>
  	<p style="font-size: 20px; color: #0099ff">{{status_model.status}}</p> <!--???????-->
  	<p style="font-size: 20px; color: #0099ff">{{status_model.date}}</p>
 </div>
 </div>    
</body>
{% endblock %}

